body {
    font-family: "Open Sans", sans-serif;
    color: #190b55;
  }
  
  
  a {
    color:black;
    text-decoration: none;
  }
  h4{
    font-family: italic;
  }
  
  a:hover {
    color: #1eb4ff;
    text-decoration: none;
  }
  
  h1, h2, h3, h5, h6 {
    font-family: "Raleway", sans-serif;
  }